# WITH TEXTBLOB

In [ ]:
from textblob import TextBlob
import pandas as pd
import re

In [ ]:
data = pd.read_csv("combine.csv",engine='python',error_bad_lines=False,skip_blank_lines=True)

In [ ]:
data.dropna(inplace=True)
data.head()

In [ ]:
len(data)

In [ ]:
def clean_text(text):  
    pat1 = r'@[^ ]+'                   
    pat2 = r'https?://[A-Za-z0-9./]+'  
    pat3 = r'\'s'                      
    pat4 = r'\#\w+'                     
    pat5 = r'&amp '                     
    pat6 = r'[^A-Za-z\s]'               
    combined_pat = r'|'.join((pat1, pat2,pat3,pat4,pat5, pat6))
    text = re.sub(combined_pat,"",text).lower()
    return text.strip()

In [ ]:
data['content'] = data['content'].apply(str)
data["content"] = data["content"].apply(clean_text)

In [ ]:
data.head()

In [ ]:
data= data[ ~(data["content"] =="")]

In [ ]:
data.head()
print(len(data))

In [ ]:
def getSubjectivity(text):
  print('subjectivity added')
  return TextBlob(text).sentiment.subjectivity

def getPolarity(text):
   print('polarity added')
   return TextBlob(text).sentiment.polarity
   
data['tweet_Subjectivity'] = data['content'].apply(getSubjectivity)
data['tweet_Polarity'] = data['content'].apply(getPolarity)

In [ ]:
data.head()

In [ ]:
def sentiment(pol):
  if pol>0:
#     return 'pos'
    return 1
  elif pol<0:
#     return 'neg'
    return 0
  else:
        #return 'neut'
    return 2


data['sentiment'] = data['tweet_Polarity'].apply(sentiment)

In [ ]:
data.head(18)

In [ ]:
len(data)

In [ ]:
print("Total positive tweets:", len(data[data['sentiment']==1]), "\nTotal negative tweets:", len(data[data['sentiment']==0]))

In [ ]:
print("Total dataset lines:",len(data))

In [ ]:
# data.to_csv('Anothercleaneddataset.csv')
data.to_csv('Anothercleaneddataset2.csv')

In [ ]:
# mydata = pd.read_csv("imran khan.csv",engine='python',error_bad_lines=False,skip_blank_lines=True)
mydata = pd.read_csv("russia.csv",engine='python',error_bad_lines=False,skip_blank_lines=True)

In [ ]:
mydata.head()

In [ ]:
mydata['text'] = mydata['text'].apply(str)
mydata["text"] = mydata["text"].apply(clean_text)

In [ ]:
def getPolarity(text):
   print('polarity added')
   return TextBlob(text).sentiment.polarity
   

mydata['tweet_Polarity'] = mydata['text'].apply(getPolarity)

In [ ]:
mydf = mydata[(mydata.tweet_Polarity<-0.6)]

In [ ]:
len(mydf)

In [ ]:
mydf.head()

# WITH VADER

In [ ]:
# pip install vaderSentiment

In [1]:
import nltk
# nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import pandas as pd
import re

sid = SentimentIntensityAnalyzer()

In [2]:
data1 = pd.read_csv("combine.csv",engine='python',error_bad_lines=False,skip_blank_lines=True)
data2 = pd.read_csv("behindyouskipper.csv",engine='python',error_bad_lines=False,skip_blank_lines=True)
data3 = pd.read_csv("pakvsaus.csv",engine='python',error_bad_lines=False,skip_blank_lines=True)
data4 = pd.read_csv("bitcoin.csv",engine='python',error_bad_lines=False,skip_blank_lines=True)
data5 = pd.read_csv("Johnny Depp.csv",engine='python',error_bad_lines=False,skip_blank_lines=True)
# data1.dropna(inplace=True)
# data2.dropna(inplace=True)
# data3.dropna(inplace=True)
# data4.dropna(inplace=True)
# data5.dropna(inplace=True)
data2.head()

,date,user_id,text,url,renderedContent,user_name,user_followers,replyCount,retweet-count,likeCount,...,inReplyToUser,mentionedUsers,coordinates,user_location,hashtags,cashtags,mentionedUsers.1,outlinks.1,tcooutlinks,sourceLabel
0,2022-04-13 23:59:40+00:00,1514392911965786117,This is huge &amp; unprecedented. The people o...,https://twitter.com/khanmasood0943/status/1514...,This is huge &amp; unprecedented. The people o...,khanmasood0943,69,0,0,1,...,NaN,NaN,NaN,NaN,"['BehindYouSkipper', 'Ø§Ù…Ù¾ÙˆØ±Ù¹Úˆ_Ø­Ú©ÙˆÙ…Ø...",NaN,NaN,['https://twitter.com/ShahFarman_PTI/status/15...,['https://t.co/NOuFQeV4ci'],Twitter for Android
1,2022-04-13 23:59:40+00:00,1514392911475056655,Izzat Allah ny deni ha . \n\n#Ø§Ù…Ù¾ÙˆØ±Ù¹Úˆ_Ø...,https://twitter.com/MJamalKhalid/status/151439...,Izzat Allah ny deni ha . \n\n#Ø§Ù…Ù¾ÙˆØ±Ù¹Úˆ_Ø...,MJamalKhalid,0,0,0,0,...,NaN,NaN,NaN,NaN,"['Ø§Ù…Ù¾ÙˆØ±Ù¹Úˆ_Ø­Ú©ÙˆÙ…Øª_Ù†Ø§Ù…Ù†Ø¸ÙˆØ±', '...",NaN,NaN,['https://twitter.com/Shiffa_ZY/status/1514319...,['https://t.co/ezxhZVZDn6'],Twitter for Android
2,2022-04-13 23:59:27+00:00,1514392856412237831,"History will remind 1 thing, Imran Khan wasn't...",https://twitter.com/hafsa_jadoon/status/151439...,"History will remind 1 thing, Imran Khan wasn't...",hafsa_jadoon,0,0,0,1,...,NaN,NaN,NaN,NaN,['BehindYouSkipper'],NaN,NaN,NaN,NaN,Twitter for Android
3,2022-04-13 23:59:16+00:00,1514392811331899405,Û�Ø§Ø¦Û’ Û�Ø§Ø¦Û’ Û�Ø§Ø¦Û’!!!!!! Û�Ø§Ø¦Û’ Ø§Ùˆ...,https://twitter.com/iamJawadRana/status/151439...,Û�Ø§Ø¦Û’ Û�Ø§Ø¦Û’ Û�Ø§Ø¦Û’!!!!!! Û�Ø§Ø¦Û’ Ø§Ùˆ...,iamJawadRana,1139,0,3,8,...,NaN,NaN,NaN,NaN,"['Ø§Ù…Ù¾ÙˆØ±Ù¹Úˆ_Ø­Ú©ÙˆÙ…Øª_Ù†Ø§Ù…Ù†Ø¸ÙˆØ±', '...",NaN,NaN,NaN,NaN,Twitter for Android
4,2022-04-13 23:59:13+00:00,1514392798140715023,@soldierspeaks #Ø§Ù…Ù¾ÙˆØ±Ù¹Úˆ_Ø­Ú©ÙˆÙ…Øª_Ù†Ø§...,https://twitter.com/HecklingQ/status/151439279...,@soldierspeaks #Ø§Ù…Ù¾ÙˆØ±Ù¹Úˆ_Ø­Ú©ÙˆÙ…Øª_Ù†Ø§...,HecklingQ,22,0,0,0,...,https://twitter.com/soldierspeaks,"[User(username='soldierspeaks', id=205712608, ...",NaN,NaN,"['Ø§Ù…Ù¾ÙˆØ±Ù¹Úˆ_Ø­Ú©ÙˆÙ…Øª_Ù†Ø§Ù…Ù†Ø¸ÙˆØ±', '...",NaN,"[User(username='soldierspeaks', id=205712608, ...",NaN,NaN,Twitter for Android

In [3]:
len(data3['text'])

20001

In [4]:
# data=pd.DataFrame()
data_total=pd.concat([data1[['text']],data2[['text']],data3[['text']],data4[['text']],data5[['text']]], ignore_index=True)
data = pd.DataFrame(data_total, columns = ['text'])
print(data.shape)
print(len(data))

(173391, 1)
173391

In [5]:
data.head()

                                                text
0  @LabourPatriot @RmSalih So @ChelseaFC do not h...
1                                                NaN
2  #johnnydepp #JusticeForJohnnyDepp @YouTube is ...
3  Happy Pride Monthâ™¥ï¸�ðŸ�³ï¸�â€�ðŸŒˆðŸ�³ï¸�â€...
4  @ReallySwara @Rashmidvs So much hate...\r\n#Hi...

In [8]:
data=data.dropna()
print(len(data))

126697

In [11]:
data.reset_index(drop=True, inplace=True)
data.head()

                                                text
0  @LabourPatriot @RmSalih So @ChelseaFC do not h...
1  #johnnydepp #JusticeForJohnnyDepp @YouTube is ...
2  Happy Pride Monthâ™¥ï¸�ðŸ�³ï¸�â€�ðŸŒˆðŸ�³ï¸�â€...
3  @ReallySwara @Rashmidvs So much hate...\r\n#Hi...
4  @AJEnglish @YoumnaElSayed17 @nida_journo @safw...

In [12]:
def clean_text(text):  
    pat1 = r'@[^ ]+'                   
    pat2 = r'https?://[A-Za-z0-9./]+'  
    pat3 = r'\'s'                      
    pat4 = r'\#\w+'                     
    pat5 = r'&amp '                     
    pat6 = r'[^A-Za-z\s]'               
    combined_pat = r'|'.join((pat1, pat2,pat3,pat4,pat5, pat6))
    text = re.sub(combined_pat,"",text).lower()
    return text.strip()

In [13]:
data['text'] = data['text'].apply(str)
data["text"] = data["text"].apply(clean_text)

In [14]:
print(len(data))

126697

In [15]:
data.head()

                                                text
0  so  do not have anything to say on this and wh...
1  is apparently upping their levels of  amp  sho...
2      happy pride month\r\n\r\nown uptake the space
3                                       so much hate
4  they never condemn death of baloch muslims pak...

In [16]:
data['scores'] = data['text'].apply(lambda text: sid.polarity_scores(text))

data.head()

,text,scores
0,so do not have anything to say on this and wh...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
1,is apparently upping their levels of amp sho...,"{'neg': 0.045, 'neu': 0.868, 'pos': 0.087, 'co..."
2,happy pride month\r\n\r\nown uptake the space,"{'neg': 0.0, 'neu': 0.45, 'pos': 0.55, 'compou..."
3,so much hate,"{'neg': 0.665, 'neu': 0.335, 'pos': 0.0, 'comp..."
4,they never condemn death of baloch muslims pak...,"{'neg': 0.0, 'neu': 0.75, 'pos': 0.25, 'compou..."

In [17]:
data['compound']  = data['scores'].apply(lambda score_dict: score_dict['compound'])

data.head()

,text,scores,compound
0,so do not have anything to say on this and wh...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1,is apparently upping their levels of amp sho...,"{'neg': 0.045, 'neu': 0.868, 'pos': 0.087, 'co...",0.3182
2,happy pride month\r\n\r\nown uptake the space,"{'neg': 0.0, 'neu': 0.45, 'pos': 0.55, 'compou...",0.7269
3,so much hate,"{'neg': 0.665, 'neu': 0.335, 'pos': 0.0, 'comp...",-0.6096
4,they never condemn death of baloch muslims pak...,"{'neg': 0.0, 'neu': 0.75, 'pos': 0.25, 'compou...",0.6520

In [18]:
data['sentiment'] = data['compound'].apply(lambda c: 1 if c>0 else(0 if c<0 else 2))

data.head()

,text,scores,compound,sentiment
0,so do not have anything to say on this and wh...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,2
1,is apparently upping their levels of amp sho...,"{'neg': 0.045, 'neu': 0.868, 'pos': 0.087, 'co...",0.3182,1
2,happy pride month\r\n\r\nown uptake the space,"{'neg': 0.0, 'neu': 0.45, 'pos': 0.55, 'compou...",0.7269,1
3,so much hate,"{'neg': 0.665, 'neu': 0.335, 'pos': 0.0, 'comp...",-0.6096,0
4,they never condemn death of baloch muslims pak...,"{'neg': 0.0, 'neu': 0.75, 'pos': 0.25, 'compou...",0.6520,1

In [19]:
print("Total positive tweets:", len(data[data['sentiment']==1]), "\nTotal negative tweets:", len(data[data['sentiment']==0]))

Total positive tweets: 35951
Total negative tweets: 32333

In [20]:
print("Total dataset lines:",len(data))

Total dataset lines: 126697

In [22]:
# data.to_csv('AnothercleaneddatasetVader.csv')
data.to_csv('AnothercleaneddatasetVader_latest.csv',index=False)

In [ ]:
mydata = pd.read_csv("imran khan.csv",engine='python',error_bad_lines=False,skip_blank_lines=True)
# mydata = pd.read_csv("russia.csv",engine='python',error_bad_lines=False,skip_blank_lines=True)
mydata.head()

In [ ]:
# mydata.dropna(inplace=True)
mydata['text'] = mydata['text'].apply(str)
mydata["text"] = mydata["text"].apply(clean_text)
len(mydata)

In [ ]:
mydata['scores'] = mydata['text'].apply(lambda text: sid.polarity_scores(text))
mydata['compound']  = mydata['scores'].apply(lambda score_dict: score_dict['compound'])
mydata['sentiment'] = mydata['compound'].apply(lambda c: 1 if c>0 else(0 if c<0 else 2))
print(len(mydata))

In [ ]:
mydata.head(10)

In [ ]:
mydata = mydata.sort_values(by='compound',ascending=True)
mydata.head(10)

In [ ]:
# mydf = mydata[(mydata.compound<-0.88)]
# print(len(mydf))
mydf = mydata.head(10)
print(len(mydf))

In [ ]:
mydf.head()

In [ ]:
# pd.set_option('display.max_rows', None)
mydf.text

In [ ]:
mydata.reset_index(drop=True, inplace=True)

In [ ]:
# mydata.to_csv('Imran_Khan_sent_with_vader.csv')
# mydata.to_csv('Russia_sent_with_vader.csv')